  body {
    background-image: url(../images/camera.png);
    background-repeat: no-repeat;
    background-size: 60%;
    
    background-attachment: initial;
    background-color: rgb(249, 234, 212);
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
    
  }

  h1#banner {
    text-shadow: 6px 6px rgb(255, 155, 124);
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h1 {
    text-align: center;
    color: rgb(43, 24, 0);
  }

  #signlog {
    border-radius: 0px;
    text-align: center;
  }

  div#center {
    margin: auto;
    width: fit-content;
    height: auto;
    padding: 10px;
    text-align: center;
    background-color:rgb(255, 215, 182);
    float: none;
    padding:10px;
    border:2px solid rgb(211, 148, 92);
    padding: 10px 100px 50px 100px;
    opacity: 0.8;
  }

  div#center2 {
    margin: auto;
    width: fit-content;
    height: auto;
    padding: 10px;
    text-align: center;
    background-color:rgb(255, 215, 182);
    float: none;
    padding:10px;
    opacity: 0.8;
  }

  div#newform {
    margin: auto;
    width: fit-content;
    height: auto;
    padding: 10px;
    text-align: end;
    background-color:rgb(255, 215, 182);
    float: none;
    padding:10px;
    border:2px solid rgb(211, 148, 92);
    padding: 20px 10px 20px 10px;
    opacity: 0.8;
  }

  div#show {
    margin: auto;
    width: fit-content;
    height: auto;
    padding: 10px;
    text-align: center;
    background-color:rgb(255, 215, 182);
    float: none;
    padding:10px;
    border:2px solid rgb(211, 148, 92);
    padding: 10px 100px 50px 100px;
    opacity: 0.8;
  }

  div#show2 {
    margin: auto;
    width: 45%;
    height: auto;
    padding: 10px;
    text-align: center;
    background-color:rgb(255, 215, 182);
    float: none;
    padding:10px;
    border:2px solid rgb(211, 148, 92);
    padding: 10px 100px 50px 100px;
    opacity: 0.8;
  }

  div#space {
    padding-bottom: 3%;
  }

  h3#log {
    text-align: center;
  }

  a#link {
    text-align: center;
    font-size: 20px;
  }

  span#home {
    margin-left: 5%;
  }

  form {
    text-align: end;
  }

  input {
    text-align: center;
  }

  p#or {
    text-align: center;
  }

  a#showlinks {
    font-size: 20px;
  }

  

  a#homelog {
    padding: 30px;
  }

  span#obmen {
    padding: 20px;
    font-size: 20px;
  }

  a:link {
    color: rgb(142, 66, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(101, 52, 9);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(255, 140, 0);
    background-color: rgb(65, 36, 0);
    text-decoration: none;
  }
  
  a:active {
    color: rgb(50, 31, 0);
    background-color: rgb(255, 140, 0);
    text-decoration: transparent;
  }

  label#newtitle {
    display: block;
    text-align: center;
    font-weight: bold;
  }

  p#error {
    display: block;
    text-align: center;
  }

  div#radio {
    text-align: left;
  }

  div#selectcam {
    text-align: center;
    font-weight: bold;
  }

  input[type="radio"] {  
    margin-right: 30px;
  }

  textarea {
    resize: none;
  }

  a#showmenu {
    padding: 15px;
  }

  form#showmenu {
    margin: auto;
    text-align: center;
    position: relative;
    padding: 15px;
  }

  input#delsubmit {
    font-size: 1em;
    padding: 15px;
    background: none;
    border: none;
	  cursor: pointer;
  }

  input#delsubmit:link {
    color: rgb(142, 66, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  input#delsubmit:visited {
    color: rgb(101, 52, 9);
    background-color: transparent;
    text-decoration: none;
  }
  
  input#delsubmit:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    text-decoration: none;
  }
  
  input#delsubmit:active {
    color: rgb(50, 31, 0);
    background-color: rgb(255, 140, 0);
    text-decoration: transparent;
  }

  input#logsign {
    font-size: 1em;
    padding: 15px;
    background: none;
    border: none;
	  cursor: pointer;
  }

  input#logsign:link {
    color: rgb(142, 66, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  input#logsign:visited {
    color: rgb(101, 52, 9);
    background-color: transparent;
    text-decoration: none;
  }
  
  input#logsign:hover {
    color: rgb(255, 140, 0);
    background-color: rgb(65, 36, 0);
    text-decoration: none;
  }
  
  input#logsign:active {
    color: rgb(50, 31, 0);
    background-color: rgb(255, 140, 0);
    text-decoration: transparent;
  }

  div#description {
    margin: auto;
    text-align: center;
    width: 80%;
    max-width: initial;
  }

