<div id="center">
    <% if flash[:message] %>
        <%= flash[:message] %><br />
    <% end %>
    <h3 id="log">Log in</h3><br />
    <form action="/login" method="post">

        <label for="username">Username:</label>
        <input type="text" id="username" name="user[username]"><br />
        
        <p id="or">OR</p>
        <label for="email">Email:</label>
        <input type="text" id="email" name="user[email]"><br /><br /><br />

        <label for="password">Password:</label>
        <input type="password" id="password" name="user[password]"><br /><br /><br />

        <input type="submit" value="Log in">
        
    </form>
</div>