<div id="center">
    <h3 id="log">main menu</h3><br />
    <a id="link" href="/cameras">Cameras</a><span></span><br />
    <a id="link" href="/lens">Lenses</a><span></span><br />
    <a id="link" href="/rolls">Film Rolls</a><span></span><br />
    <a id="link" href="/photos">Photos</a><br />
</div>


