<div id="show2">
    <% if flash[:message] %>
    <%= flash[:message] %><br />
    <% end %>
    <h4>Looks at your...</h4><br />
    <a href="/cameras" id="showmenu"><span id="obmen">Cameras</span></a>
    <a href="/lens" id="showmenu"><span id="obmen">Lenses</span></a>
    <a href="/rolls" id="showmenu"><span id="obmen">Film Rolls</span></a>
    <a href="/photos" id="showmenu"><span id="obmen">Photos</span></a>
</div><br /><br />

<div id="show2">
    <h4>Add a new...</h4><br />
    <a href="/cameras/new" id="showmenu"><span id="obmen">Camera</span></a>
    <a href="/lens/new" id="showmenu"><span id="obmen">Lens</span></a>
    <a href="/rolls/new" id="showmenu"><span id="obmen">Film Roll</span></a>
    <a href="/photos/new" id="showmenu"><span id="obmen">Photo</span></a>
</div><br /><br />
