<div id="show">
    <h3 id="log"><%= "Camera nickname: '#{@camera.nickname}'" %></h3><br />
    <p><%= "Make: #{@camera.make}" %></p>
    <p><%= "Model: #{@camera.model}" %></p><br /><br />
    <p><%= "#{loaded}" %></p>
</div><br /><br />
