<div id="show">
    <h3 id="log">Photos</h3><br />
    <% @photos.each do |photo| %>
        <a id="showlinks" href="/photos/<%= photo.id %>"><%= photo.name %><%= " - #{photo.rating} star rating" %> </a><br /><br />
    <% end %><br /><br />
    <a href="/photos/new" id="new">Add a New Photo Record</a>
</div><br /><br />
