<div id="show">
    <h3 id="log">Rolls</h3><br />
    <% @rolls.each do |roll| %>
        <a id="showlinks" href="/rolls/<%= roll.id %>"><%= roll.brand %><%= " - #{roll.exp_count} exposures left" %></a><br /><br />
    <% end %><br /><br />
    <a href="/rolls/new" id="new">Add a new Film Roll</a>
</div><br /><br />
