<div id="show">
    <h3 id="log"><%= "Brand: '#{@roll.brand}'" %></h3><br />
    <p><%= "Comments: #{@roll.comments}" %></p>
    <p><%= "ISO: #{@roll.iso}" %></p><br />
    <p><%= "Exposures remaining: #{@roll.exp_count}" %></p>
</div><br /><br />
