<div id="center">
    <h3 id="log">Please log in or sign up</h3><br />
    <a href="/login" id="new"><span id="obmen">LOGIN</span></a>
    <a href="/signup" id="new"><span id="obmen">SIGN UP</span></a>
</div>