<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <title>Shutterlogger</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
      <% if logged_in? %>
        <a id="homelog" href="/users/<%= current_user.id %>">HOME</a>
        <a id="homelog" href="/logout">LOG OUT</a>
        <a id="homelog" href="/users/<%= current_user.id %>/edit">EDIT ACCOUNT</a>
        <h1 id="banner"><%= "#{current_user.username}'s ShutterLogger" %></h1><br /><br />
        <% else %>
        <a id="homelog" href="/">MAIN MENU</a>
        <h1 id="banner">ShutterLogger</h1><br /><br />
      <% end %>
      
        <%= yield %>
  </body>
</html>
